
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">$@f@R</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" routerLink="/home">Features</a>

      <span class="dropdown" *ngIf="appUser else anonymousUser">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ appUser.name || appUser.email || appUser }}
        </button>
        <div class="dropdown-menu mt-2" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="edit-profile">Edit Profile</a>
          <a class="dropdown-item" *ngIf="appUser" (click)="logout()">logout</a>
        </div>
      </span>
    </nav>

    <ng-template #anonymousUser>
      <a routerLink="/login" class="btn btn-outline-secondary">Login</a>
    </ng-template>

  </div>
