
<div class="row justify-content-md-center">
  <div class="col-md-6 md-offset-3">
    <form [formGroup]="phoneForm" (ngSubmit)="phoneLogin()">
      <div class="form-group" *ngIf="phoneInput">
        <label for="">Phone number</label>
        <input type="text" class="form-control" placeholder="Enter phone" formControlName="phone">
      </div>

      <div *ngIf="phoneForm.controls['phone'].invalid && (phoneForm.controls['phone'].dirty || phoneForm.controls['phone'].touched)" class="alert alert-danger">
        <div *ngIf="phoneForm.controls['phone'].errors.required">
          Phone is required.
        </div>
      </div>
      <div  class="form-group" id="recaptcha-container"></div>
      <button type="submit" class="btn btn-primary">login</button>
    </form>
  </div>
</div>
