
  <table *ngIf="orders else showLoader" datatable class="row-border hover">
    <thead>
      <tr>
        <th>Ordered On</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.createdOn | date:'fullDate' }} at {{ order.createdOn | date:'shortTime' }}</td>
        <td>{{ order.payerName }}</td>
        <td>{{ order.payerEmail }}</td>
        <td>
          <a
            [routerLink]="['/paypal-order-view', order.key]"
            class="btn btn-sm btn-outline-primary">
              <i class="fa fa-eye"></i> order detail
          </a>
          <button
            (click)="refund(order.key)"
            type="button"
            class="btn btn-sm btn-outline-info">
              refund/cancel order
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #showLoader>
    <div class="text-center pb-4">
      <img src="../../../assets/img/loader.gif" alt="">
    </div>
  </ng-template>
