

  <div class="text-center">
    <h1>Login By...</h1>
    <p>Make your login super easy using any of these login methods</p>
    <button (click)="socialLogin('google')" class="btn btn-outline-danger">
        <i class="fa fa-google"></i>
    </button>

    <button  (click)="socialLogin('facebook')" class="btn btn-outline-primary">
      <i class="fa fa-facebook-f"></i>
    </button>

    <button class="btn btn-outline-info">
      <i class="fa fa-twitter"></i>
    </button>

    <button class="btn btn-outline-dark" [routerLink]="['/email-login']">
      <i class="fa fa-envelope"></i>
    </button>

    <button class="btn btn-outline-dark" [routerLink]="['/phone-login']">
      <i class="fa fa-phone"></i>
    </button>
  </div>
