    
    
    <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Choose your payment type</h1>
        <p class="lead">Make your payment esay & safe using these payment types.</p>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Paypal</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title text-primary">
                    $10 <small class="text-muted">/ mo</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            <h4 class="my-0 font-weight-normal">Stripe</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title text-info">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>20 users included</li>
                <li>10 GB of storage</li>
                <li>Priority email support</li>
                <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-info">Make Payment</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
            <h4 class="my-0 font-weight-normal">Razorpay</h4>
            </div>
            <div class="card-body">
            <h1 class="card-title pricing-card-title text-secondary">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Make Payment</button>
            </div>
        </div>
        </div>
    </div>