
  <div class="row justify-content-md-center">

  </div>


  <!-- BEGIN INVOICE -->
  <div class="col-md-12">
    <div class="grid invoice">
      <div class="grid-body">

        <div class="invoice-title">
          <div class="row">
            <div class="col-md-12">
              <img src="http://vergo-kertas.herokuapp.com/assets/img/logo.png" alt="" height="35">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h2>Order Details<br>
              <span class="small">order #{{ orderID }}</span></h2>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-6">
            <address>
              <strong>Billed To:</strong><br>
              Twitter, Inc.<br>
              795 Folsom Ave, Suite 600<br>
              San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="col-md-6 text-right">
            <address>
              <strong>Shipped To:</strong><br>
              {{ orderList.payerName }}<br>
              {{ orderList.shippingAddress.address_line_1 }}<br>
              {{ orderList.shippingAddress.address_line_2 }}<br>
              {{ orderList.shippingAddress.admin_area_1 + ', ' + orderList.shippingAddress.admin_area_2 }}<br>
              {{ orderList.shippingAddress.postal_code }}<br>
              <!-- <abbr title="Phone">P:</abbr> (123) 345-6789 -->
            </address>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <address>
              <strong>Payment Method:</strong><br>
              {{ orderList?.fundingSource || 'paypal' }}<br>
              {{ orderList?.payerEmail }}<br>
            </address>
          </div>
          <div class="col-md-6 text-right">
            <address>
              <strong>Order Date:</strong><br>
              {{ orderList?.createdOn | date:'fullDate' }} at {{ orderList?.createdOn | date:'shortTime' }}
            </address>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>ORDER SUMMARY</h3>
            <table class="table table-striped">
              <thead>
                <tr class="line">
                  <td><strong>#</strong></td>
                  <td class="text-center"><strong>ITEM</strong></td>
                  <td class="text-center"><strong>QTY</strong></td>
                  <td class="text-right"><strong>PRICE</strong></td>
                  <td class="text-right"><strong>SUBTOTAL</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of orderList?.itemPurchased; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <strong>{{ item.name }}</strong><br>
                    A website template is a pre-designed webpage, or set of webpages, that anyone can modify with their own content and images to setup a website.
                  </td>
                  <td class="text-center">{{ item.quantity }}</td>
                  <td class="text-center">{{ item.unit_amount.value }}</td>
                  <td class="text-right">{{ item.quantity * item.unit_amount.value }}</td>
                </tr>

                <tr>
                  <td colspan="3"></td>
                  <td class="text-right"><strong>Taxes</strong></td>
                  <td class="text-right"><strong>N/A</strong></td>
                </tr>
                <tr>
                  <td colspan="3">
                  </td><td class="text-right"><strong>Total</strong></td>
                  <td class="text-right"><strong>{{ orderList?.totalAmount }}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-left identity">
            <a routerLink="/paypal-orders" class="btn btn-sm btn-outline-secondary">back to my orders</a>
          </div>
          <div class="col-md-6 text-right identity">
            <p>Designer identity<br><strong>Jeffrey Williams</strong></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END INVOICE -->

