  <div class="text-center pb-4">
    <h1>Edit your profile...</h1>
  </div>

    <div class="row justify-content-md-center">

      <div class="col-md-3 img-container">
        <img [src]="user?.photoURL" alt="" class="img img-responsive img-round" width="270px" height="270px">
        <div class="middle">
          <div class="text">
            <button (click)="fileInput.click()"><i class="fa fa-upload"></i>  change picture</button>
          </div>
        </div>

        <input #fileInput type="file" (change)="onFileInput($event)" accept="image/x-png,image/gif,image/jpeg" style="display:none;" />
      </div>

      <div class="col-md-6">
        <form [formGroup]="userEditProfileForm" (ngSubmit)="editProfile()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input
                [value]="userDetail?.name || user?.displayName"
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                formControlName="name">
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input
                [value]="user?.email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
                formControlName="email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phoneNumber">Mobile Number</label>
              <input
                [value]="userDetail?.phoneNumber"
                type="text"
                class="form-control"
                id="phoneNumber"
                placeholder="+918840002768"
                formControlName="phoneNumber">
            </div>
            <div class="form-group col-md-6">
              <label for="gender">Gender</label>
              <select id="gender" class="form-control" formControlName="gender">
                <option [selected]="userDetail?.gender === 'Male'">Male</option>
                <option [selected]="userDetail?.gender === 'Female'">Female</option>
                <option [selected]="userDetail?.gender === 'Transgender'">Transgender</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address</label>
            <input
              [value]="userDetail?.address"
              type="text"
              class="form-control"
              id="address"
              placeholder="1234 Main St"
              formControlName="address">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input
                [value]="userDetail?.city"
                type="text"
                class="form-control"
                id="city"
                placeholder="Delhi"
                formControlName="city">
            </div>
            <div class="form-group col-md-4">
              <label for="state">State</label>
              <input
                [value]="userDetail?.state"
                type="text"
                class="form-control"
                id="state"
                placeholder="Delhi"
                formControlName="state">
            </div>
            <div class="form-group col-md-2">
              <label for="zip">Zip</label>
              <input
                [value]="userDetail?.zip"
                type="text"
                class="form-control"
                id="zip"
                placeholder="110025"
                formControlName="zip">
            </div>
          </div>
        </form>
      </div>

    </div>

    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <button
          type="submit"
          class="btn btn-outline-primary"
          [disabled]="!userEditProfileForm.dirty">
            <i class="fa fa-edit"></i> Edit Profile
        </button>
        <button type="submit" class="btn btn-secondary" routerLink="/home">Cancel</button>
      </div>
    </div>
